* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 1040px;
    margin: 0 auto;
    text-align: center;
}

nav ul {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: #302828;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 20%;
    text-align: center;
}